@media (max-width:1000px) {
    header {
        gap: 20px;
    }
    #header-left {
        font-size: 20px;
    }
    #header-right {
        font-size: 14px;
    }

    #container-top h1{
        font-size: 50px;
    }
    #container-top h2{
        font-size: 30px;
    }
    #container-top img {
        width: 200px;
        height: 220px;
    }

    #container-aboutme h1{
        font-size: 20px;
    }
    #container-aboutme p{
        font-size: 14px;
        padding-left:30px;
        padding-right: 30px;
        text-align: justify;
    }

    #container-project h1 {
        font-size: 20px;
    }
    #projectImg {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
    }
    #img1, #img2, #img3, #img4, #img5, #img6 {
        width: 250px;
        height: 250px;
    }

    #popUp1, #popUp2, #popUp3, #popUp4, #popUp5, #popUp6 {
        padding-top: 45%;
    }

    .modalImg {
        width: 300px;
        height: 300px;
    }

    #container-contact h1 {
        font-size: 20px;
    }
    #inputInfo input, textarea {
        width: 275px;
        font-size: 14px;
    }
    #inputInfo button {
        font-size: 14px;
    }

    #myModal {
        padding-top: 50%;
    }

    #modalContent h2 {
        letter-spacing: 0;
    }

    footer {
        gap: 49%;
    }
    .faq {
        margin-top: 0;
    }
    #footer-left {
        font-size: 20px;
    }
    #footer-right {
        font-size: 14px;
    }

    .prev {
        left:265px
    }

    .next {
        right: 268px;
    }

    .prev, .next {
        margin-top: 108px;
    }
}

/* for Smartphone */

@media (max-width:670px){
    header {
        flex-direction: column;
        gap: 0px;
    }
    #header-right {
        padding-left: 15px;
        font-size: 12px;
        padding-bottom: 15px;
    }

    #container-top h1 {
        font-size: 50px;
        letter-spacing: 0px;
    }
    #container-top h2{
        font-size: 26px;
    }

    #img1, #img2, #img3, #img4, #img5, #img6 {
        width: 200px;
        height: 200px;
    }

    #popUp1, #popUp2, #popUp3, #popUp4, #popUp5, #popUp6 {
        padding-top: 25%;
    }

    #popUp1Content, #popUp2Content, #popUp3Content, 
    #popUp4Content, #popUp5Content, #popUp6Content {
        width: 60%;
    }

    #popUp1Content p, #popUp2Content p, #popUp3Content p, 
    #popUp4Content p, #popUp5Content p, #popUp6Content p {
        font-size: 14px;
    }

    .modalImg {
        width: 200px;
        height: 200px;
    }

    #myModal {
        padding-top: 65%;
    }

    #modalContent {
        width: 60%;
    }
    #modalContent h2{
        font-size: 20px;
    }
    #modalContent p {
        font-size: 14px;
    }

    footer {
        flex-direction: column;
    }
    .faq {
        text-align: left;
        padding-left: 0px;
        width: 115px;
    }
    #footer-left {
        padding-right: 0;
        padding-bottom: 0px;
    }
    #footer-right {
        font-size: 12px;
    }

    .prev {
        left:69px
    }

    .next {
        right: 71px;
    }
    .prev, .next {
        margin-top: 85px;
    }
}
